@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
    max-width: 1200px !important;
}

.imgDiv {
    margin: 1.5rem auto;
    height: 50%;
    width: 50%;
}

.h2-style {
    text-align: center;
    margin-top: 10rem;
}

.bodyTxt {
    font-size: 1rem;
    line-height: 1.5;
}

.footer {
    background: azure;
}

@layer components {
    .disabled {
        @apply opacity-50 cursor-not-allowed;
    }

    .single-article h1 {
        @apply text-2xl font-bold py-2;
    }

    .single-article h2 {
        @apply text-xl font-bold py-2;
    }

    .single-article h3 {
        @apply text-lg font-bold py-2;
    }

    .single-article pre {
        @apply text-green-500 bg-gray-100 my-6 p-2;
    }

    .single-article blockquote {
        @apply my-4 p-4 border-l-4 bg-gray-100 text-gray-500 border-green-500;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .container {
        max-width: 980px !important;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .container {
        max-width: 720px !important;
    }

    .subscribeDiv {
        grid-column: span 2 / span 2;
    }
}

@media screen and (max-width: 767px) {
    @layer components {
        .single-article h1 {
            @apply text-xl font-bold py-2;
        }
    }

    .subscribeDiv {
        grid-column: span 2 / span 2;
    }

    .footer-div {
        font-size: small;
        align-items: flex-end;
    }

    .footer-div svg {
        width: 1rem;
    }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
    .container {
        max-width: 420px !important;
    }
}

@media screen and (max-width: 479px) {
    .container {
        max-width: 340px !important;
    }
}