@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
    max-width: 1200px !important;
}

.center {
    text-align: center;
}

.errorCls {
    color: red;
    padding-top: 0.5rem;
}

.successCls {
    color: green;
    padding-top: 0.5rem;
}

.loadingCls {
    color: blue;
    padding-top: 0.5rem;
}

.primaryColor {
    color: #218721;
}

.imgDiv {
    margin: 1.5rem auto;
    height: 50%;
    width: 50%;
    margin-bottom: 0;
}

.h2-style {
    text-align: center;
    margin-top: 10rem;
}

.bodyTxt {
    font-size: 1rem;
    line-height: 1.5;
    color: rgb(75 85 99);
}

.bodyTxt p {
    margin-bottom: 1rem;
    color: rgb(75 85 99);
}

.bodyTxt ol {
    margin-bottom: 1rem;
}

.bodyTxt ol li {
    list-style: disc;
    font-size: small;
    margin-left: 1rem;
}

.footer {
    background: azure;
}

.sourceinfo {
    margin: 1rem auto;
    font-size: x-small;
}

.centerInfo {
    text-align: center;
    margin-bottom: 1rem;
}

.disabled {
    background-color: #EBEBEB !important;
    color: #404040;
}

@layer components {
    .disabled {
        @apply opacity-50 cursor-not-allowed;
    }

    .single-article h2 {
        @apply text-2xl font-bold py-2;
        text-transform: capitalize;
    }

    .single-article h2 {
        @apply text-xl font-bold py-2;
    }

    .single-article h3 {
        @apply text-lg font-bold py-2;
    }

    .single-article pre {
        @apply text-green-500 bg-gray-100 my-6 p-2;
    }

    .single-article blockquote {
        @apply my-4 p-4 border-l-4 bg-gray-100 text-gray-500 border-green-500;
    }
}

.single-article blockquote p {
    margin-left: 0.5rem;
    margin-bottom: 0 !important;
    color: rgb(75 85 99);
}

.single-article blockquote {
    padding-top: 0.5rem;
    color: rgb(75 85 99);
}

.single-article blockquote p a {
    text-decoration: underline;
    color: rgb(75 85 99);
}

.single-article blockquote p a:hover {
    color: cornflowerblue;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .container {
        max-width: 980px !important;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .container {
        max-width: 720px !important;
    }

    .subscribeDiv {
        grid-column: span 2 / span 2;
    }

    .single-article blockquote p {
        margin-left: 0.25rem;
    }
}

@media screen and (max-width: 767px) {
    @layer components {
        .single-article h2 {
            @apply text-xl font-bold py-2;
        }
    }

    .subscribeDiv {
        grid-column: span 2 / span 2;
    }

    .footer-div {
        font-size: small;
        align-items: flex-end;
    }

    .footer-div svg {
        width: 1rem;
    }

    .single-article pre {
        white-space: break-spaces;
        font-size: x-small;
    }

    .single-article blockquote {
        padding-top: 0.25rem;
        border-left-width: 3px;
        padding-left: 0.5rem;
        word-break: break-word;
    }

    .single-article blockquote h3 {
        font-size: small;
        font-weight: 600;
        line-height: 1.25rem;
    }

    .single-article blockquote p {
        font-size: smaller;
        margin-left: 0;
        margin-left: 0.25rem;
    }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
    .container {
        max-width: 420px !important;
    }
}

@media screen and (max-width: 479px) {
    .container {
        max-width: 340px !important;
    }
}